.contact-page {
  min-height: 100vh;

  display: flex;

  align-items: center;

  justify-content: space-between;

  gap: 60px;

  padding: 120px 8%;
}

.contact-left,
.contact-form {
  flex: 1;
}

.contact-left span {
  color: #0ea5e9;

  font-weight: 600;

  letter-spacing: 2px;
}

.contact-left h2 {
  font-size: 3rem;

  margin: 20px 0;
}

.contact-left p {
  line-height: 1.8;

  color: #a3a3a3  ;
}

.contact-info {
  margin-top: 40px;

  display: flex;

  flex-direction: column;

  gap: 25px;
}

.info-box {
  display: flex;

  gap: 20px;

  align-items: center;
}

.info-box svg {
  font-size: 22px;

  color: #0ea5e9;

  min-width: 25px;
}

/* Form */

.contact-form {
  padding: 40px;

  border-radius: 24px;

  background: rgba(255, 255, 255, 0.05);

  backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.1);
}

.input-group {
  display: flex;

  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;

  padding: 16px 20px;

  border: none;

  outline: none;

  margin-bottom: 20px;

  border-radius: 14px;

  background: rgba(255, 255, 255, 0.152);
}
.contact-form input::placeholder{
 color: #d1d1d1;
} .contact-form textarea::placeholder{
  color: #d1d1d1;
}
.contact-form textarea {
  resize: none;
}

.contact-form button {
  width: 100%;

  padding: 16px;

  border: none;

  border-radius: 14px;

  cursor: pointer;

  font-size: 16px;

  font-weight: 600;
color: #0ea5e9;
  transition: 0.3s;
}

.contact-form button:hover {
  transform: translateY(-3px);
}

@media (max-width: 900px) {
  .contact-page {
    flex-direction: column;
  }

  .contact-left h2 {
    font-size: 2.3rem;
  }

  .input-group {
    flex-direction: column;

    gap: 0;
  }
}
