.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-container {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 8%;
}

.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

.hero-content button {
  padding: 14px 28px;
  border: none;
  cursor: pointer;
  background-color: rgb(149, 83, 255);
}

.hero-image {
  flex: 1;

  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 600px;
  height: 500px;
  object-fit: cover;
  max-width: 100%;
}

@media screen and (max-width: 700px) {
  .hero-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 180px;
    /* border: 1px solid red; */
  }
  .hero{
    /* border: 1px solid green; */
    height: auto;
  }
  .hero-image img{
    height: 250px;
  }
}
